<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{htmlTitle}}</title>
    <link rel="stylesheet" href="{{yuiGridsUrl}}">
    <link rel="stylesheet" href="{{projectAssets}}/vendor/prettify/prettify-min.css">
    <link rel="stylesheet" href="{{projectAssets}}/css/main.css" id="site_styles">
    <link rel="stylesheet" href="{{projectAssets}}/css/custom.css">
    <link rel="stylesheet" href="{{projectAssets}}/vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="{{projectAssets}}/vendor/bootstrap/css/bootstrap-responsive.css">
    <link rel="shortcut icon" type="image/png" href="{{projectAssets}}/favicon.png">
</head>
<body class="yui3-skin-sam">

<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="../index.html">

                <img alt="ModJS" src="/modjs.png" style="height: 30px; margin-top: -5px;" title="ModJS">

    </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a href="../start.html">Getting Started</a></li>
        <li><a href="index.html">Docs</a></li>
        <li><a href="https://github.com/kkemple/modular_js">Code</a></li>
        <li><a href="https://github.com/kkemple/modular_js/issues">Issues</a></li>
      </ul>
      <!--
      <form class="navbar-form navbar-right" style="line-height: 40px; height: 40px;">
            <div class="form-group">
            <input style="margin-top: 0;" type="text" class="search-query form-control" placeholder="Search for classes/modules..." data-obj='["classes/MOD.app", "classes/MOD.core", "classes/MOD.core.dom", "classes/MOD.core.util", "classes/MOD.form", "classes/MOD.form.check", "classes/MOD.sandbox", "classes/MOD.template", "classes/MOD.ui", "modules/MOD"]'>
            </div>
    </form>
    -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
	    {{>sidebar}}
        </div>
        <div class="col-sm-9">
            {{>options}}
            <div class="apidocs">
                <div id="docs-main">
                    <div class="content">
                        {{>layout_content}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{projectAssets}}/vendor/jquery/jquery-1.8.2.min.js"></script>
<script src="{{projectAssets}}/vendor/bootstrap/js/bootstrap.js"></script>
<script src="{{projectAssets}}/vendor/prettify/prettify-min.js"></script>
<script src="{{projectAssets}}/js/yuidoc-bootstrap.js"></script>
<script>prettyPrint();</script>
</body>
</html>
